<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <img src="/../assets/images\g1.jpg" alt="my pic" width="350px" height="350px">
    <p>The first step towards getting somewhere is to decide you're not going to stay where you are</p>
    <p>I believe the beginning is the most important part of the work. A hard beginning maketh a good ending.</p>

    <h3>Interests</h3>
    <h3>JAVA</h3>
    <img src="../assets/images\java.jpg" alt="java">
    <p>Java is easy to program and easy to run. These are the prominent reasons why many developers use it. You only need to write Java once and can run it anywhere, anytime. It is used to develop applications operating on a single computer or spanned over servers and clients within a network. Hence, you can use it to run desktop applications or build mobile applications that use various servers and operating systems.</p>
    <br>
    <br>
    <h3>UST </h3>
    <img src="../assets/images\ust.jpg" alt="ust" width="300px" height="300px">
    <p>Transforming lives. Building my career with the help of great leaders....</p>
    <br>
    <!-- <div class="gallery"> -->
    <h3>Wanderlust</h3>
    <img src="../assets\images\m1.jpg" alt="mountain">
    <p>Likes to travel a lot, explore cultures share our views</p>
    <p>Every once in a while we all need to take a break away from the rigmaroles of our every day lives and routine; to relax, unwind and immerse ourselves in blissful peace, minus any agendas. A forest vacation is the perfect escape to the pristine wilderness, that promises uninterrupted moments of natural calm and unhindered, enchanting views to savour every moment.</p>
    <p>Forests Our Natural Healers – De-stress, Unwind and Revitalise: Forests are known to contribute to our good health with the abundance of fresh air, natural surroundings that help the stress levels go down marginally, and at the same time oxygenating our lungs manifold. Forests are natural healers that play a vital role in refurbishing our physical and emotional well being.</p>
    <p>Evoking and Enhancing Our Inherent Creative Talents: Forests and their natural beauty with their awe-inspiring sights and sounds, can play a vital role in bringing to fore our hidden creative talents. This could be in the form of painting, art, writing, photography etc. Forests can elicit our inner most thoughts translating them to a piece of unique art.</p>
    <table>
        <tr>
            <th><img src="../assets\images\m2.jpg" alt="m2" width="400px" height="300px"></th>
            <th><img src="../assets\images\m3.jpg" alt="m3" width="400px" height="300px"></th>
            <th><img src="../assets\images\m4.jpg" alt="m4" width="400px" height="300px"></th>
        </tr>
        <tr>
            <th><img src="../assets\images\m5.jpg" alt="m5"width="400px" height="300px"></th>
            <th><img src="../assets\images\m6.jpg" alt="m6"width="400px" height="300px"></th>
            <th><img src="../assets\images\m7.jpg" alt="m7"width="400px" height="300px"></th> 
        </tr>
    </table>
    
    
        <!-- <div class="gallery-item">
            <img class="gallery-image" src="../assets\images\m2.jpg" alt="m2" width="400px" height="300px">
    
                <div class="gallery-item">
                    <img class="gallery-image" src="../assets\images\m3.jpg" alt="one direction">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="../assets\images\m4.jpg" alt="one direction">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="assets\images\m5.jpg" alt="girl">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="assets\images\m6.jpg" alt="nature">
                </div>
        
                <div class="gallery-item">
                    <img class="gallery-image" src="assets\images\m7.jpg" alt="girl">
                </div>
        
            </div>
        </div> -->

        

    <h3>Music</h3>
    <p>Music creates social cohesion, it speaks to all when words can fail, and wherever you go in the world, it is understood. Music is a universal gift and its power to connect people is without question. It is an art form with human interaction at its centre.</p>
    <p>Music has the ability to bring people together by the instruments they play, a shared interest in a particular style of music and who doesn’t love the spine-tingling sounds of a huge orchestral crescendo? We all have been known to move our feet irresistibly to the rhythm of a drum beat or singing our hearts out to encourage our favourite sports team!</p>
    <p>Music stimulates the brain which in turn helps with pain relief, reducing stress and memory. A study from Harvard has shown that relaxing music may lower blood pressure and heart rate after physical exertion.

        It can also improve mood and reduce anxiety and through bringing people together, can be an antidote to loneliness and social isolation.</p>
        <table>
            <tr>
                <th><img src="../assets\images\drums.jpg" alt="m5"width="400px" height="300px"></th>
                <th><img src="../assets\images\paino.jpeg" alt="m6"width="400px" height="300px"></th>
                <th><img src="../assets\images\violin.jpg" alt="m7"width="400px" height="300px"></th> 
            </tr>

        <tr>
            <th><img src="../assets\images\BTS_New.jpg" alt="bts" width="400px" height="300px"></th>
            <th><img src="../assets\images\bts2.jpg" alt="m3" width="400px" height="300px"></th>
            <th><img src="../assets\images\harry.jpg" alt="m4" width="250px" height="300px"></th>
        </tr>
        <br>
        </table>
        <h3>FAVOURITE FOOD</h3>
        <p>It gives me happiness and satisfaction</p>
        <table>
            <tr>
                <th><img src="../assets\images\f1.jpg" alt="m5"width="400px" height="300px"></th>
                <th><img src="../assets\images\f2.jpg" alt="m6"width="400px" height="300px"></th>
                <th><img src="../assets\images\f3.jpg" alt="m7"width="400px" height="300px"></th> 
            </tr>
        </table>

    </body>
</html>
